*{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.tm-header{
	background: #fff;
}
.tm-header::after{
	content: " ";
	clear: both;
	display: block;
	visibility: none;
}
.tm-container{
	max-width: 1200px;
	margin: 0 auto;
}
.tm-nav ul li{
	display: inline;
}
.tm-nav ul{
	margin-bottom: 0px;
}

li a img {
	display: inline;
	position: relative;
    top: 2px;
    right: 2px;
}
body{
	background: #eeeeee;
}
.tm-img{
	float: left;
}
.tm-nav{
	float: right;
}
.tm-nav ul li a{
	color: #303030;
	text-decoration: none;
	padding-top: 20px;
	padding-right: 30px;
	line-height: 74.95px; 
}
.tm-nav ul li a:hover{
	transition-duration: 0.2s;
	color:orange;
}

/* part 2*/

img{
	max-width: 100%;
	display: block;
}


.tm-content{
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 70%;
	float: left;
	/*margin-right: 20px;*/
}


p{
	margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6{
	margin-bottom: 10px;
}


ul, ol{
	margin-bottom: 20px;
	margin-left: 20px;
}


.tm-article{
	background: #fff;
	padding: 30px;
}

/* part 3*/

.tm-sidebar{
	max-width: 25%;/*30%*/
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
	width:25%;/*30%*/
}

.tm-sidebar div{
	margin-top: 50px;
	background: #fff;
	padding: 30px;
}
.tm-sidebar h2 {
	text-align: center;
	margin-bottom: 25px;
}

.tm-sidebar ul {
	margin-left: 0;
}
.tm-sidebar li{
	list-style-type: none;
	text-align: left;
}
.tm-sidebar a{
	color: #303030;
	text-decoration: none;
} 

.tm-sidebar a:hover{
	
	color: orange;
	transition-duration: 0.2s;
}

.tm-clearfix::after{
	content: " ";
	clear: both;
	display: block;
	visibility: none;
}

.tm-footer{
	background: #fff;
	text-align: center;
	padding: 20px;
}

.heading{
	font-size: 40px;
}