*{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.tm-header{
	background: #fff;
}
.tm-header::after{
	content: " ";
	clear: both;
	display: block;
	visibility: none;
}
.tm-container{
	max-width: 1200px;
	margin: 0 auto;
}
.tm-nav ul li{
	display: inline;
}
.tm-nav ul{
	margin-bottom: 0px;
}
body{
	background: #eeeeee;
}
.tm-nav{
	float: right;
}
.tm-nav ul li a{
	color: #303030;
	text-decoration: none;
	padding-top: 20px;
	padding-right: 30px;
	line-height: 74.95px; 
}
.tm-nav ul li a:hover{
	color:orange;
}
.tm-content{
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 70%;
	float: left;
	background: #fff;
	padding: 30px;
}
p{
	margin-bottom: 20px;
}
.signup:hover{
	color: orange;
	
}
.signup{
	color: #303030;
	text-decoration: none;
	padding-top: 20px;
	padding-right: 30px;
	line-height: 74.95px;
}
.tm-clearfix::after{
	content: " ";
	clear: both;
	display: block;
	visibility: none;
}

.tm-footer{
	background: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 100px;
}